.mainpage{
    background-color: #99DFE3;
}

.topmargin {
    margin-top: 9rem;
}

h2 {
    text-align: center;
    padding-top: 9rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

/* View on Map link under Restaurant */
#link{
    position: sticky;
    position: -webkit-sticky;
    top: 20%;
    margin-left: 5rem;
}

/* flex: map view */
.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.map {
    position: sticky;
    position: -webkit-sticky;
    top: 20%;
}

/* grid: reso favs rest(no map)*/
.contain {
    display: grid;
    justify-content: center;
    justify-items: center;
}

/* size of grid columns */
.fifty {
    grid-template-columns: repeat(auto-fit, 50rem);
}

.thirty {
    grid-template-columns: repeat(auto-fit, 30rem);
}