.imgCon {
    height: 18rem;
}

.img {
    max-height: 80%;
    width: auto;
    margin: 1rem;
}

.info {
    position: relative;
    margin: 1rem;
}

.icon {
    height: 40px;
    color: red;
}

.icon:hover {
    fill: red
}