.imgCon {
    height: 18rem;
    width: 40rem;
    margin-left: 5rem;
    margin-top: 2rem;
    background-color: #a8b1b9;
    border-radius: 6px;
    box-shadow: 3px 3px 10px;
}

.img-Con {
    height: 18rem;
    width: 40rem;
    margin: 1rem 2rem;
    background-color: #a8b1b9;
    border-radius: 6px;
    box-shadow: 3px 3px 10px;
}

.img {
    max-height: 80%;
    width: auto;
    margin: 1rem;
}

.info {
    position: relative;
    margin: 1rem;
}

.icon {
    height: 40px;
    margin: 0rem 2rem 0rem;
    float: right;
    /* color: red; */
}

.icon:hover {
    height: 45px;
    fill: red
}

.col {
    column-count: 2;
    column-gap: 1rem;
}

.prof {
    column-count: 2;
    column-gap: 1rem;
    margin-left: 15rem;
    margin-top: 4rem;
}

.profcard {
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 10px;
}

.card-body{
    background-color: (245, 245, 235, 0.4);
}
.confirm {
    text-align: center;
    margin-top: 15rem;
    position: fixed;
    left: 22%
}