.imgCon {
    height: 18rem;
    width: 40rem;
    margin-left: 5rem;
    margin-top: 2rem;
    background-color: gray;
}

.img-Con {
    height: 18rem;
    width: 40rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    margin: 1rem 2rem;
    background-color: gray;
}

.img {
    max-height: 80%;
    width: auto;
    margin: 1rem;
}

.info {
    position: relative;
    margin: 1rem;
}

.icon {
    height: 40px;
    margin: 0rem 2rem 0rem;
    float: right;
    /* color: red; */
}

.icon:hover {
    height: 45px;
    fill: red
}

.col {
    column-count: 2;
    column-gap: 5rem;
    /* float: right; */
}