.form {
    position: absolute;
    right: 43%;
    margin-top: 10rem;
}

.wideform {
    position: absolute;
    right: 40%;
    margin-top: 10rem;
    width: 25rem;
    padding: 3rem;
    /* background-color: gray; */
}

.pad {
    padding: 1rem;
}

.login {
    
}
.signup {
    
}