.form {
    position: absolute;
    right: 43%;
    margin-top: 10rem;
}

.wideform {
    position: absolute;
    right: 40%;
    margin-top: 10rem;
    width: 25rem;
    padding: 3rem;
}

.pad {
    padding: 1rem;
}

.del {
    /* position: fixed;
    bottom: 15%;
    left: 42.5%; */
    margin-left: 1rem;
}
.prl {
    margin-top: 50px;
    padding: 1rem;
}