
.navbar {
    display: block;
    /* justify-self: flex-end; */
    background-color: aqua;
    padding: 2rem;
    /* justify-content: center; */
}

.logo {
    float: left;
    position: relative;
    text-decoration: none;
    height: 50px;
}

.item {
    font-size: 24px;
    /* margin: 0rem 1rem 0rem 1rem; */
    color: black;
}

.position {
    margin: 1rem;
    float: right;
    /* left: 60rem; */
}

.search {
    margin-right: 1rem;
    margin-left: .5rem;
    float: right;
    /* left: 60rem; */
}