.landing {
    background-color: #99DFE3;
    height: 100vh;
}

h5.mesa {
    font-family: 'Pinyon Script', cursive;
    font-size: 8.75rem;
    -webkit-text-stroke: .2px black;
    /* text-decoration: black; */
    color: white;
    position: fixed;
    bottom: 30%;
    left: 31%;
}
/* #7e8992 */
/*  */
/* #95a1ab */
/* #a8b1b9 */
h4.awaits {
    font-size: 7rem;
    color: black;
    position: fixed;
    bottom: 19%;
    right: 30%;
}

.guy {
    position: fixed;
    left: 0;
    bottom: 0;
    /* margin: 2.5rem; */
} 
.btright {
    background-color: #a8b1b9;
    position: fixed;
    right: 8%;
    bottom: 60%;
    margin: 2.5rem;

}
.btright.btn-primary{
    background-color: #a8b1b9;
    border-color: black;
}

.account {
    position: fixed;
    right: 11%;
    bottom: 61%;
    color: #a8b1b9;
}
/* .landing body {
    background-color: #99DFE3;
} */

/* #17a2b8 color of blue buttons */