.landing {
    background-color: #99DFE3;
    height: 100vh;
}

h5.mesa {
    font-family: 'Pinyon Script', cursive;
    font-size: 8.75rem;
    -webkit-text-stroke: .2px black;
    /* text-decoration: black; */
    color: white;
    position: fixed;
    bottom: 30%;
    left: 31%;

}

h4.awaits {
    font-size: 7rem;
    color: black;
    position: fixed;
    bottom: 19%;
    right: 30%;
}

.guy {
    position: fixed;
    left: 0;
    bottom: 0;
    /* margin: 2.5rem; */
} 
.btright {
    position: fixed;
    right: 8%;
    bottom: 60%;
    margin: 2.5rem;
    
}

.account {
    position: fixed;
    right: 8%;
    bottom: 60%;
    
}
/* .landing body {
    background-color: #99DFE3;
} */